VITE_USE_MOCK=true
VITE_API_BASE_URL=https://jsonplaceholder.typicode.com
VITE_ONLYOFFICE_URL=http://localhost:80
VITE_FILE_ACCESS_HOST=192.168.0.196
VITE_ONLYOFFICE_TOOLBAR_PLUGIN_VERSION=20260411.05
