{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/styles/index.css",
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "proseWrap": "never",
    "endOfLine": "auto",
    "semi": true,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "strict"
}
